#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav{
  width: 100%;
}
nav ul{
  justify-content: center;
  list-style: none;
  display: flex;
  & li{
    padding:0 0 0 50px;
  }
}

/* estilos de botone en generar */
button{
  margin: 2%;
  padding: 15px;
  background-color: rgb(161, 161, 223);
  color: rgb(1, 1, 37);
  border-radius: 20px;
  border-style: none;
}

/* input en general */
input{
  margin: 10px 0 10px 10px;
  background-color: rgba(116, 57, 150, 0.842);
  padding: 5px;
  color: rgb(15, 14, 14);
  font-weight: 600;
  border-style: none;
  border-radius: 3px;

.nav_tex{
  text-decoration: none;
}